.panel{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box{
  width: 800px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: right;
}

.user{
  padding: 25px;
}
